html {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Montserrat", serif;
  height: 100%;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: "Josefin Sans", sans-serif;
  color: #383633;

}

p {
font-family: 'Montserrat', sans-serif;
    color: #949485;
}

a {
font-family: 'Montserrat', sans-serif;
}
.contact-sections {
  padding: 20rem;
}

li {
  list-style-type: none;
}

h2, main {
  text-align: center;
}

.logo {
  margin: 0 auto;
}


/* navigation */


.skip-links {
  background-color: #000;
}



/* buttons */


.btn-box {
  text-decoration: none;
  background-color: #BDAB64;
  border-radius: 30px;
  color: #eeeae0;
  padding: 10px 25px;
}

.btn-box:hover {
  color: #383633;
  padding: 10px 25px;
  transition: all .2s linear;


}

.btn-hero2 {
  color: #fff;
  font-size: 14px;


}
.btn-hero2:hover {
  color: #fff;
  border-bottom: Solid 3px #f2a603;
}

.btn-hero3 {
  color: #fff;
  padding:0 ;


}
.btn-hero3:hover {
  color: #fff;
  border-bottom: Solid 3px #f2a603;

}

.btn-hero {
  padding:0 ;
}

.btn-hero:hover {
  border-bottom: Solid 3px #f2a603;
}

.btn-solid {
  color: #000;

}

.btn-solid:hover {
  color: #000;
  border-bottom: Solid 2px #000;
  transition: all .2s linear;
}

.btn-active {

  border-bottom: Solid 2px #000;
}

.list {
    color: #65737E;
    text-decoration: none;
}

li a:hover {
    color: #82C341;
    transition: all .2s linear;
}

li a:active {
    color: #82C341;

}

/* colours */

.nude {
  color:#Faf6ea;
}

.nude-bg {
  background-color:#Faf6ea;
}

.gold {
  color: #BDAB64;
}

.gold-bg {
  background-color: #BDAB64;
}


.darkgreen {
  color:#042616;
}
.darkgreen-bg {
  background-color:#042616;
}

.yellow {
  color: #f2a603;
}

.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.sand {
  color: #eeeae0;
}

.sand-bg {
  background-color: #eeeae0;
}

.dark-bg {
  background-color: #383633;
}

.dark {
  color: #383633;
}

.dark-trans {
background: rgba(25, 25, 25, 0.3);
}

.mid-grey {
  color: #949485;
}

a:active {
  color: #82C341;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left:120px;
  margin-right: 120px;
  border-top: 4px solid;
}

span {
  color: #383633;
}

/* contact-form */

label {
 text-align: center;
 color: #5E5E5E;
}

input {
  border: none;
  border-bottom: 2px solid #dcdcdc;
}

/* hero-banner */
.hero-image {
  /* Set a specific height */

  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  width: 100%;
  height: auto;
}

/* text location banners */

.hero-text  {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.img {
  opacity: 1;
  transition: all .5s linear;
}


.intro-text {
  padding-left: 1em;
  padding-right: 1em;
}

a {
  text-decoration: none;
}

a:hover {
    color: #000;
    transition: all .2s linear;
}

/* social-hover */
.socials {
  border-radius: 50%;
}

.socials:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
  transition: all .2s linear;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;

  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.7);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-color: #F8F3EC;
  color: #E2E2E2 solid;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  transition: all .4s linear;
  color: #fff;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  transition: all .2s linear;
}

/* Style navigation menu links */
.topnav a {
  color: #383633;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.logo {
  padding-top:15px;
}

a:hover, a:active {
  outline: none;
}

.topnav i {
    padding-top: 25px;
}

i:before {
font-display: block;
 font-size: 200%;
  margin: .5em;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */

.hamburg a {
  color: #383633;
}

.hamburg a:hover {
  color: #f2a603;
  transition: all .2s linear;
}

/* Style the active link (or home/logo) */
.active {
  color: #000;
}


.arrow {
  border: solid #949485;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.arrow-white {
  border: solid #Faf6ea;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*card text right*/
.card-img-l {
  position: relative;
  padding-bottom: 1em;

}

.card-text-r {
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
  text-decoration: none;
  position: block;
  top: 90%;
  left: 10%;
}

.card-text-r p {
text-align: left;
}

.card-text-r h2 {
}

.card-text-r a {
  display: inline-block;
  text-decoration: none;
}

/* btn*/
.btn-contact {
  display: inline-block;
  border: 2px solid #949485;
  color: #949485;
  padding: 10px 30px;
  transition: all 0.5s;
  cursor: pointer;

}

.btn-contact:hover {
  background-color: #383633;
  color: #fff;
  transition: all 0.5s;

}

.btn-m {
  display: inline-block;
  border-radius: 30px;
  border: 1px solid #949485;
  color: #949485;
  padding: 10px 30px;
  transition: all 0.5s;
  cursor: pointer;

}

.btn-m {
  color: #949485;

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-m:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.2s;
}

.btn-m:hover {

  padding-right: 25px;
}

.btn-m:hover:after {
  opacity: 1;
  right: 0;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}
/* nav for laptop*/
.bigheader {
  display: none;
}
.arrow {
  display: none;
}

.arrow-white {
  display: none;
}

.empty {
  display: none;
}

.turn-gold {
  color: #383633;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);

}
@media only screen and (min-width: 25em) {

.arrow, .down {
  display: none;
}

.arrow-white, .down {
  display: none;
}

.bigheader {
  display: none;
}

/* about page */
.about {
  padding: 0;
  margin: 0;
}

.about-content {
  padding: 12px;
}

.logo {
  margin: 0 ;
}

/*gallery control*/
.gallery {
  visibility: visible;
  display: block;

}

.gallery-img {
  visibility: visible;
  display: block;
}

.btn-img {
  opacity: 1.0;
  text-shadow: 0.0;
}

.btn-img:hover {
  opacity: 0.5;
  text-shadow: 1.0
}

}
@media only screen and (min-width: 38em){
  .card-text-r {
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
    text-decoration: none;
    position: absolute;
    top: 20%;
    left: 60%;
    }

  .stage-h1 {
    line-height: normal;

    display: block;
  }

  .hero-text {

    line-height: normal;
  }

  .card-text-l a:hover {
  transition: all .3s linear;
  }

@media only screen and (min-width: 40em) {

  .hero-text h1 {

    line-height: normal;
  }

  .bigheader {
    display: none;
  }

h2, p {
  text-align: left;
}

.video {
  width: 640px;
  height: 360px;
}

.nav li {
  float: left;
}

label {
 text-align: center;
 padding-right: 2em;
}

.design-btn {
  display: none;
  visibility: hidden;
}

.design-nav {
  display: block;
  visibility:visible;
}

/* about page */
.about {
  padding: 4em;
}

.about-img {
  width: 100%;
  border-radius: 0%;
  padding: 0;
}

/* text location banners */
  .hero-text-bottom {
  text-align: center;
  right: 2em;
  color: white;
}

hr {
  margin-top: 5px;
  margin-left: 17px;
  margin-right: 17px;
  border-top: 3px solid ;
}

.intro-text {
  padding-left: 3em;
}
}
@media only screen and (min-width: 42em) {

.card-text-r {
  padding-left: 30px;
  padding-right: 20px;
  text-align: left;
  text-decoration: none;
  position: absolute;
  top: 25%;
  left: 60%;
  }
  .card-text-r p {
  }

  .card-text-r h2 {
  }

  .card-text-r a {
  }
}


@media only screen and (min-width: 60em) {

  .stage-h1 {
    line-height: normal;
    display: block;
  }

  .empty {
    display: block;
  }

  .card-text-r {
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
    text-decoration: none;
    position: absolute;
    top: 20%;
    left: 60%;
    }

@media only screen and (min-width: 64em) {

  .card-text-r {
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
    text-decoration: none;
    position: absolute;
    top: 30%;
    left: 60%;
  }

  .hero-text h1 {
    line-height: normal;
  }

  .arrow, .down {
    display: flex;
  }

  .arrow-white, .down {
    display: flex;
  }

  .smallheader {
    display: none;
  }

  .bigheader {
    display:block;
  }

  .turn-gold {
    color: #BDAB64;
  }
  .sticky {
    position:inherit;
  }

  .video {
    width: 1080px;
    height: 720px;
  }

  .large-gutter {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media only screen and (min-width: 98em) {


.bigheader span {

}
  .card-text-r {
    padding-left: 30px;
    padding-right: 20px;
    text-align: left;
    text-decoration: none;
    position: absolute;
    top: 35%;
    left: 60%;
  }

  .hero-text h1 {
    line-height: normal;
    text-align: center;
  }


  .video {
    width: 1720px;
    height: 880px;
  }

  .large-gutter {
    margin-left: 2em;
    margin-right: 2em;
  }

  li, ul, a {
    list-style-type: none;
    text-decoration: none;
  }
}
