

.img-card {
  position: relative;
}

.container {
    position: relative;
  }

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.img-portrait {
  display:inline-block;

  padding: 0em 6em;
  margin-bottom: 2em;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-card:hover .image {
  opacity: 0.7;
}

.img-card:hover .middle {
  opacity: 1;
}

/* Container holding the image and the text */
.image:hover {
  opacity: 0.75;
  transition: .5s ease;
}

.img-left {
  padding-left: 2% ;
  padding-right: 2%;
  padding-top: .25%;
  padding-bottom: .25%;
}

.img-right {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .25%;
  padding-bottom: .25%;
}
.img-mid {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: .25%;
  padding-bottom: .25%;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 80px;
}

/* Top left text */
.top-left {

  position:absolute;
  top: 0%;
  left: 0%;
}


/* logo top left */
.logo2 {
  position: absolute;
  top: 0%;
  left: 3%;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 4%;
  right: 12%;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-right {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}


/* Centered text */
.centered-left {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.top-centered {
  position: absolute;
  top: 8px;
  left: 30%;
}

.bottom-centered {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-card {
  text-align: left;

}

.video {

}

@media only screen and (min-width: 40em) {
  .img-left {
    padding-left: 4% ;
    padding-right: .5%;
    padding-top: .5%;
    padding-bottom: .5%;
  }

  .img-right {
    padding-left: .5%;
    padding-right: 4%;
    padding-top: .5%;
    padding-bottom: .5%;
  }
  .img-mid {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: .25%;
    padding-bottom: .25%;
  }
  .img-portrait {
    padding: 0em 0em;
    margin-bottom: 2em;
  }

}

@media only screen and (min-width: 64em) {


  .card {
    width: 85%;

    padding-right: 3em;
    padding-left: 10em;
    position: relative;
  }

  .card-title {
  bottom: 3%;
  left: 15%;
    position: absolute;
  }

  .card-text {
    padding-left: 10em;
  }

  .title-card {
    text-align: right;
    margin-right:2em;
    margin-bottom: 2em;
  }

.pad-l {
  margin-left: 4em;
}

  .top-left {
    display: inline-block;
  }

  .bottom-centered {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  html {
    overflow: hidden;
  }

  body {
    margin: 0;
    color: #fff;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;


  }

  .parallax-wrapper::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/sarah-(2).jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .parallax-wrapper2 {
    width: 100vw;
    height: 100vh;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper2::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/hero-banner/shot-04.jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .parallax-wrapper3 {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper3::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/hero-banner/home-banner-5.jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .parallax-wrapper4 {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper4::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/setup-01.jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .parallax-wrapper5 {
    width: 100%;
    height: 100%;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper5::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/stage-02/shot-09.jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .parallax-wrapper6 {
    width: 100vw;
    height: 100vh;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper6::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/clara/img-(2).jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .parallax-wrapper7 {
    width: 100vw;
    height: 100vh;
    padding-top: 2em;
    box-sizing: border-box;
    transform-style: preserve-3d;
  }

  .parallax-wrapper7::before {
    content:"";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/photography/sarah/sarah-06.jpg");
    position: absolute;
    z-index: -1;
    transform: translatez(-1px) scale(2);
  }

  .regular-wrapper-green {
    width: 100%;
    height: 100%;
    padding-top: 4em;

    background-color: #042616;
    z-index: 2;
    position: relative;
  }

  .regular-wrapper {
    width: 100%;
    padding-top: 2em;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    position: relative;
  }

  .regular-wrapper-nude {
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    background-color: #fff;
    z-index: 2;
    position: relative;
  }

  .regular-wrapper2 {
    width: 100%;
    height: 100%;
    padding-top: 30vh;
    background-color: #042616;
    z-index: 2;
    position: relative;
  }
  .content {
    margin: 0;
    width: auto;
    background: none;
  }
}

@media only screen and (min-width: 80em) {

  .card-title {
  bottom: 3%;
  left: 10%;
    position: absolute;
  }

  .top-left {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-centered {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 98em) {

  .next {
    position: absolute;
    right: 20%;
    border-radius: 3px 0 0 3px;
  }
}
